{% extends 'layout.html' %}
{% block content %}

    <div class="d-flex flex-wrap justify-content-center w-100">
        {% for match in matches %}
            <div class="content-section text-center w-100 m-1">
                <h4 class="m-1"><a href="{{url_for('match_page', match_id=match.id)}}">
                {{ match.home_team }} vs {{ match.away_team }}</a></h4>
                <p class=m-2> at {{ match.time.strftime('%H:%M') }} on {{ match.date.strftime('%d/%m/%Y') }}</p>
                <p class="m-1"> where: {{ match.location }}</p>
                {% if match.home_approved and match.away_approved %}
                    <p class="m-1"> Score: {{ match.home_score }} - {{ match.away_score }}</p>
                {% else %}
                    <p class="m-1"> Score: Match not finished</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock content %}
