{% extends 'layout.html' %}

{% block content %}

    <h3> {{ match.home_team }} vs {{ match.away_team }} </h3>
    <h4> on {{ match.date.strftime('%d/%m/%Y') }} at {{ match.time.strftime('%H:%M') }} </h4>
    <p> Where: {{ match.location }} </p>
    {% if match.umpire %}
        <p> Umpired by: {{ match.umpire }} </p>
    {% else %}
        <p>Umpire: TBC</p>
    {% endif %}
    {% if home_approved and away_approved %}
        <p>Score: {{ match.home_score }} - {{ match.away_score }}</p>
    {% else %}
        <p>Score: Game not finished</p>
    {% endif %}

{% endblock content %}
