{% extends 'layout.html' %}

{% block content %}

        <div class="text-center">
            {% if not players.first() %}
                <p class="text-danger">There don't seem to be any players registered for this team yet ...</p>
            {% else %}
                <div class="d-flex flex-wrap justify-content-center w-100">
                    {% for player in players %}
                        <div class="content-section m-3 w-30">
                            <div class="media">
                                <img src="../static/profile_pics/{{ player.profile_pic }}" alt="" class="rounded-circle account-img">
                                <div class="media-body">
                                    <h4 class="mt-4">
                                        <a href="{{url_for('account', user_id=player.id, user=player.name)}}">
                                        {{ player.name }} </a></h4>
                                    <p class="text-secondary"> {{ player.email }} </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

{% endblock content %}
