{% extends 'layout.html' %}

{% block content %}

    <table class="table table-bordered table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th>Team</th>
                <th>Points</th>
                <th>Won</th>
                <th>Lost</th>
                <th>Drawn</th>
            </tr>
        </thead>
        {% for team in teams %}
            <tr>
                <th> <a href="{{url_for('teams.my_team', user_team=team.name)}}">{{team.name}}</a> </th>
                <th> {{team.points}} </th>
                <th> {{team.matches_won}} </th>
                <th> {{team.matches_lose}} </th>
                <th> {{team.matches_drawn}} </th>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}
